<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>StudyFlex</title>
  </head>

  <body>
    <%= @user.username %>
    <%= @user.password %>
    <%= @user.phone_number %>
  </body>


</html>
